.App {
  text-align: center;
}
/* Logo */
.App-logo {
  height: 50px;
  margin-left: 20px;
}

.App-header {
  background-color: #EDEFEE;
  padding: 20px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Typefaces */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Markazi+Text:wght@400;500&display=swap');

body {
  font-family: 'Karla', sans-serif;
  color: #333333;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Markazi Text', serif;
  color: #495e57;
}

h1 {
  font-size: 64pt;
  font-weight: 500;
}

h2 {
  font-size: 40pt;
}

h3 {
  font-size: 20pt;
  font-weight: 800;
  text-transform: uppercase;
}

h4 {
  font-size: 18pt;
  font-weight: 700;
}

h5, h6 {
  font-size: 16pt;
  font-weight: 700;
}

p {
  font-size: 16pt;
  line-height: 1.5;
  max-width: 65ch;
}

span {
  font-size: 16pt;
  font-weight: 500;
  color: #495e57;
}

a {
  font-size: 18pt;
  font-weight: 500;
  color: #495e57;
}

a:hover {
  text-decoration: underline;
}

/* Navigation Styles */
nav {
  background-color: #EDEFEE;
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #495e57;
  text-decoration: none;
  font-size: 18pt;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

/* Image Styles */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/*Components */

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.call-to-action,
.specials,
.customers-say,
.chicago {
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin: 20px 0;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.specials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customers-say {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specials-list,
.testimonials-list {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.special-item,
.testimonial-item {
  flex: 1 1 1 calc(25% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

.special-item h3,
.testimonial-item h3 {
  margin: 10px 0;
}

.special-item p,
.testimonial-item p {
  margin: 10px 0;
}

.special-item span,
.testimonial-item span {
  font-weight: bold;
  color: #495e57;
}
.special-image {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
  margin-bottom: 10px;
}

/* Align headers to the left */
.specials h2,
.customers-say h2,
.chicago h2 {
  align-self: flex-start;
  margin-left: 460px;
}

/* Add margin to the paragraph in the Chicago section */
.chicago p {
  margin-left: 460px; /* Ajusta este valor según sea necesario */
}

/* Footer Styles */
.footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
  padding: 20px;
  background-color: #EDEFEE;
}

.footer-logo {
  flex: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-nav,
.footer-contact,
.footer-social {
  flex: 1 1 1 calc(33.333% - 20px);
  margin: 10px;
}

.footer-nav ul,
.footer-contact ul,
.footer-social ul {
  list-style-type: none;
  padding: 0;
}

.footer-nav li,
.footer-contact li,
.footer-social li {
  margin-bottom: 10px;
}

.footer-nav a,
.footer-contact a,
.footer-social a {
  text-decoration: none;
  color: #333;
}

.footer-nav a:hover,
.footer-contact a:hover,
.footer-social a:hover {
  text-decoration: underline;
}